div.bhoechie-tab-container {z-index: 10;background-color: #ffffff;padding: 0 !important;border-radius: 4px;-moz-border-radius: 4px;border: 1px solid #ddd;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);box-shadow: 0 6px 12px rgba(0, 0, 0, .175);-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);background-clip: padding-box;opacity: 0.97;filter: alpha(opacity=97);margin-bottom: 30px;}
div.bhoechie-tab-menu {padding-right: 0;padding-left: 0;padding-bottom: 0;}
div.bhoechie-tab-menu div.list-group {margin-bottom: 0;}
div.bhoechie-tab-menu div.list-group>a {margin-bottom: 0;}
div.bhoechie-tab-menu div.list-group>a .glyphicon,div.bhoechie-tab-menu div.list-group>a .fa {color: #215a9a;}
div.bhoechie-tab-menu div.list-group>a:first-child {border-top-right-radius: 0;-moz-border-top-right-radius: 0;}
div.bhoechie-tab-menu div.list-group>a:last-child {border-bottom-right-radius: 0;-moz-border-bottom-right-radius: 0;}
div.bhoechie-tab-menu div.list-group>a.active,div.bhoechie-tab-menu div.list-group>a.active .glyphicon,div.bhoechie-tab-menu div.list-group>a.active .fa {background-color: #215a9a;color: #ffffff;}
div.bhoechie-tab-menu div.list-group>a.active:after {content: '';position: absolute;left: 100%;top: 50%;margin-top: -13px;border-left: 0;border-bottom: 13px solid transparent;border-top: 13px solid transparent;border-left: 10px solid #215a9a;}
div.bhoechie-tab-content {background-color: #ffffff;padding-left: 5px;padding-top: 10px;}
div.bhoechie-tab div.bhoechie-tab-content:not(.active) {display: none;}
.selected {fill: #215a9a;}
.boundary {fill: #ccc;stroke: #fff;stroke-width: 1.5px; }
.hidden {display: none;}
div.tooltip {font-size: 15px;font-weight: 500;text-align: center;color: #000; background: #fff; border-radius: 3px; padding: 10px 10px; opacity: 0.9; position: absolute;border: solid 1px #215a9a;}
#mapa_container{border: 1px solid #ccc;border-radius: 5px 0px 0px 5px;}
.mapa_panel{margin: 15px 15px 5px 15px; border: 1px #215a9a solid;}